.rated-user-list {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    width: 100%;
}

.rated-user-list__item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
  }
  
.rated-user-list__item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.rated-user-list__positive-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 30px;
}

.rated-user-list__negative-list {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    width: 50%;
}